body {
    font-family: 'Indie Flower',cursive;
    color: #000;
    font-weight: 300;
}

img,embed,object,video {
    max-width: 100%;
}

/*Make sure my buttons are able to be "hit"*/
nav a,button {
    min-width: 48px;
    min-height: 48px;
    padding: 1.5em;
}

.upperRightHeader {
	margin-top: 50px;
}

.text-muted {
    color: #000;
}

.text-thin {
    font-weight: 700;
}

.name-super {
    font-size: 40px;
}

.name-logo {
    margin-top: 20px;
/*left: 0px;*/
}

img.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992px) {
    .col-md-4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}